* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 150ms;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgb(10, 35, 55), rgb(6, 19, 34));
}

/*Navbar element that remains at the top of the screen*/
.navbar {
    height: 60px;
    position: fixed;
    box-shadow: 2px 2px 2px 2px;
    top: 20px;
    width: 300px;
    right: 40px;
    border-radius: 10px;
    background: linear-gradient(185deg, #843d00, #6c3301);
    z-index: 2;
    border: 1px solid black;
    /*Make navbar similar to the #work bar, nice and asthetic*/
}

.navbar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    font-size: 23px;



}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.navbar li:hover {
    transform: scale(1.1) rotate(2deg);




}

/*orients the rest of the document to sit below the navbar (adds color too)*/

/*About section elements*/
#about {
    display: flex;
    width: 100%;
    height: 110vh;
    place-items: center;
    flex-direction: column;

}

#about h1 {
    margin-top: 18vh;
    transform: scale(2);
    padding-bottom: 2px;
    color: white;
}

#about p {

    font-size: 20px;
    letter-spacing: 2.4px;
    padding-left: 60px;
    color: #9a4700;
    margin-bottom: 20px;
}

.gwillyn-image {
    display: flex;
    width: 550px;
    height: 550px;
    border: 4px solid white;
    border-radius: 50%;
    background: url(https://avatars.githubusercontent.com/u/163878088?v=4);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 4px 4px;

}

/*Work section elements*/
#work h2 {
    background: linear-gradient(90deg, #6c3301, #843d00, #6c3301);
    width: 400px;
    font-size: 26px;
    text-align: center;
    height: 55px;
    padding-top: 10px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px 10px 0% 0%;
    border: 1px solid black;
    margin-bottom: 40px;
}

#work .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

#baileytribute,
#survey,
#unknown {
    width: 622px;
    height: 395px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 3px 3px black;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
}

#baileytribute {
    background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpiha_omQfQdQ_pvskIeXQs7l6YCUXDtpHinCDNbA1kKGfaaSOumcHaHpLD8GjqTQY-5fJfzyX9uI0HRx4OP89PaIM73Y1=s1600-v0);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#survey {
        background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihY4fxdredsKG_ESZAaTNgTHVcY6DuGRLCJmm0UeaRxqhxSQ4HbCa7Y-Up4JIxt04AxUPEyUKQg-XjTcbnXfJiKkWH0q0Q=s1600-v0);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    
}

#baileytribute:hover,
#survey:hover,
#unknown:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/*Contact section elements*/

.contact-container {
    display: flex;
    justify-content: center;
}

#contact-info h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 10px;
    width: 170px;
    height: 55px;
    background: linear-gradient(90deg, #6c3301, #843d00, #6c3301);
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 2px 2px;
    margin-left: 40px;
    margin-bottom: 40px;
    border: 1px solid black
}

#contact {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
    max-width: 900px;
}



.github,
.instagram,
.mail,
.phone {
    background: linear-gradient(90deg, #6c3301, #843d00, #6c3301);
    width: 70px;
    padding: 10px 0 0 10px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 6px;
    box-shadow: 2px 2px 2px 2px;


}

.github a,
.instagram a,
.mail a,
.phone a {
    text-decoration: none;
    color: black;
}

.github:hover,
.instagram:hover,
.mail:hover,
.phone:hover {
    transform: scale(1.1) rotate(6deg);

}








/*Media queries to fix for display size*/

@media only screen and (orientation: portrait) {
    #about {
        height: 95vh;
    }
    #about h1 {
        transform: scale(1.6);
    }
    
    #about p {
    
        font-size: 16px;
       
    }
    .gwillyn-image {
        width: 450px;
        height: 450px;
    }
    #work h2 {
        width: 330px;
        font-size: 22px;
        height: 45px;
        padding-top: 10px;
        margin-left: 10px;
    }
    #baileytribute,
#survey,
#unknown {
    width: 400px;
    height: 255px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 3px 3px black;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
}
    #contact-info h2{
        font-size: 22px;
        height: 45px;
        width: 150px;
        margin-left: 10px;
    }
    .gwillyn-image {
        display: flex;
        width: 300px;
        height: 300px;
    }
    #about {
        height: 540px;
    }

}

@media only screen and (max-height: 730px) {

    .gwillyn-image {
        display: flex;
        width: 300px;
        height: 300px;
    }
    #about {
        height: 540px;
    }
}
